<h1>{{user.username}}'s Trainers</h1>
<h3>There are {{listOfTrainers.length}} total trainers.</h3>

{{!-- <p>
    <a href="/trainer/new/">Create a new trainer</a>
</p> --}}

<ul>
    {{#each listOfTrainers}}
    <li>
        <p>
            <a href="/user/{{../user._id}}/trainer/{{_id}}"><span class="blue">{{name}}</span></a>
            <br>
            <img src="{{sprite}}" alt="{{name}}'s Sprite">
        </p>
        <p>This trainer is from the <span class="red">{{region}}</span> region.</p>
        <p>This trainer is <span class="red">{{age}}</span> years old.</p>
        <br>
    </li>
    {{/each}}
</ul>