<h1>Users</h1>
<h3>There are {{listOfUsers.length}} total users.</h3>

<p>
    <a href="/user/new/">Create a new user</a>
</p>

<ul>
    {{#each listOfUsers}}
    <li>
        <p>
            <a href="/user/{{_id}}"><span class="blue">{{username}}</span></a>
            <br>
            <img src="{{userPhoto}}" alt="{{username}}'s Photo">
        </p>
        <p>{{username}} has {{trainers.length}} trainers.</p>
        <p>This account was created on: <span class="red">{{dateCreated}}</span></p>
        <p>{{username}} last updated their collection on: <span class="red">{{dateLastUpdated}}</span></p>
        <br>
    </li>
    {{/each}}
</ul>