<h1>All Users</h1>

<ul>
  {{#each listOfUsers}}
  <li>
    <a href="/user/{{_id}}">
      <p><span class="blue">{{username}}</span>
      </a></p>
      <p>This account was created on: <span class="red">{{dateCreated}}</span></p>
      <p>{{username}} last updated their collection on: <span class="red">{{dateLastUpdated}}</span></p>
      <br>
  </li>
  {{/each}}
</ul>