<h1>
    <span class="blue">
    {{shownUser.username}}
    </span>
</h1>
<img src="{{shownUser.userPhoto}}" alt="{{shownUser.username}}'s Photo">
<h3>
    <span class="red">
    {{shownUser.tagline}}
    </span>
</h3>
<p>Email: {{shownUser.email}}</p>
<p>User Since: <span class="green">{{shownUser.dateCreated}}</span></p>
<p>Last Updated: <span class="green">{{shownUser.dateLastUpdated}}</span></p>
<a href="/user/">Return to All Users</a> | 
<a href="/user/{{shownUser._id}}/trainer">View User's Trainers</a> | 
<a href="/user/{{shownUser._id}}/edit">Change User Info</a>
<form action="/user/{{shownUser._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete User</button>
</form>