<h1>
    <span class="blue">
    {{singleUser.username}}
    </span>
</h1>
<h3>
    <span class="red">
    {{singleUser.tagline}}
    </span>
</h3>
<p>Email: {{singleUser.email}}</p>
<p>User Since: {{singleUser.dateCreated}}</p>
<p>Last Updated: {{singleUser.dateLastUpdated}}</p>
<a href="/user/">Return to All Users</a>