<h1>
    <span class="blue">
    {{shownUser.username}}
    </span>
</h1>
<img src="{{shownUser.userPhoto}}" alt="{{shownUser.username}}'s Photo">
<h3>
    <span class="red">
    {{shownUser.tagline}}
    </span>
</h3>
<p>Email: {{shownUser.email}}</p>
<p>User Since: {{shownUser.dateCreated}}</p>
<p>Last Updated: {{shownUser.dateLastUpdated}}</p>
<a href="/user/">Return to All Users</a>
<a href="/user/{{shownUser._id}}/edit">Change User Info</a>