<h1>
    <span class="blue">
    {{foundMonster.name}}
    </span>
</h1>
<img src="{{foundMonster.sprite}}" alt="{{foundMonster.name}}'s Photo">
<h3>A pokemon monster from the 
    <span class="red">
    {{foundMonster.region}}
    </span>
     Region
</h3>
<p>Gender: {{foundMonster.gender}}</p>
<p>User Since: <span class="green">{{foundMonster.age}} years old</span></p>
<p>Monster ID: <span class="green">{{foundMonster.monsterId}}</span></p>
<a href="/trainer/{{trainer._id}}/monster">Return to other Monsters</a> | 
<a href="/trainer/{{trainer._id}}/{{monsterId}}/edit">Change Monster Info</a>
<form action="/trainer/{{trainer._id}}/monster/{{foundMonster._id}}?_method=DELETE" method="POST">
  <button type="submit">Delete Monster</button>
</form>